{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start bg-dark">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a class="nav-link px-2 text-white" href="{% url 'app_customers:list' %}">Home</a>
                </li>
                <li>
                    <a class="nav-link px-2 text-white" href="{% url 'app_customers:create' %}">Добавить клиента</a>
                </li>
                <li>
                    <a class="nav-link px-2 text-white" href="{% url 'app_mailings:list' %}">Рассылки</a>
                </li>
                <li>
                    <a class="nav-link px-2 text-white" href="{% url 'app_mailings:create' %}">Создать рассылку</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a class="nav-link px-2 text-white" href="{% url 'users:logout' %}">Выход</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link px-2 text-white" href="{% url 'users:login' %}">Вход</a>
                    </li>
                    <li>
                        <a class="nav-link px-2 text-white" href="{% url 'users:register' %}">Зарегестрироваться</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

</header>

<main>

    {% block content %}
    {% endblock %}

</main>


<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">by SChuprinenko</span>
    </div>
</footer>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>