{% extends 'mailing/home.html' %}
{% load static %}

{% block content %}
    {% if user.is_block %}
        <div class="col-12 text-center">
            <h1>
                Ваш аккаунт заблокирован!
            </h1>
            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-primary" type="submit">Выйти</button>
            </form>
        </div>
    {% else %}
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <p class="card-text">Почта: {{ object.email }}</p>
                                <p class="card-text">ФИO: {{ object.fio }}</p>
                                <p class="card-text">Комментарий: {{ object.comment|slice:100 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

