{% extends 'app_customers/base.html' %}
{% load tags %}
{% block content %}

    <div class="container">
        <div class="row">
            <h4 class="text-center">Рассылка</h4>
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Тема: {{ object.title }}</h4>
                <h4 class="my-0 font-weight-normal">Содержание: {{ object.content }}</h4>
            </div>
        </div>
        <div class="btn-group">
            <div class="col-md-12">
                <a class="btn btn-warning col" href="{% url 'messages:update' object.pk %}"
                   role="button">Редактировать</a>

                <a class="btn btn-danger col" href="{% url 'messages:delete' object.pk %}"
                   role="button">Удалить</a>
            </div>
        </div>
    </div>

{% endblock %}